/*Init of body*/
body,html{
    margin: 0;
    padding: 0;
    color: var(--text-main);
    scroll-behavior: smooth;
}

/*debugging*/
.debugging-red{
    background-color: red;
}

.debugging-blue{
    background-color: blue;
}

.debugging-green{
    background-color: green;
}

/*Rooting*/
:root{

    /*Colors*/
    --background: rgb(15, 15, 25);
    --background-darker: rgb(11, 11, 19);
    --background-highlight:rgb(26, 26, 43);
    --text-main: rgb(247, 247, 247);
    --text-secondary:  rgb(115, 122, 200);
    --text-third:  rgb(93, 99, 163);
    --blue-mid-dark: rgb(0,79,167);

    /*Values*/
    --margin-md: 50px;
    --border-radius: 6px;
    --line-thickness: 8px;
    --line-width: 50px;

    /*Mobile*/
    --mobile-line-width: 20px;
    --mobile-line-thickness: 5px;

}

/*Flex classes*/
.flex{
    display: flex;
}

.flex-a-center{
    align-items: center;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-a-center-j-start{
    justify-content: flex-start;
    align-items: center;
}

.flex-a-start-j-center{
    justify-content: center;
    align-items: flex-start;
}

.flex-column{
    flex-direction: column;
}

.flex-a-center-j-between{
    justify-content: space-around;
    align-items: center;
}

.gap{
    gap: 15px;
}

/*Sectioning*/
.static-section{
    position: relative;
    height: 100vh;
    width: 100%;
}

.dynamic-secion{
    position: relative;
    width: 100%;
}

.dynamic-container{
    width: 55%;
}

.relative{
    position: relative;
}

.full-width{
    width: 100%;
}

.height-50vh{
    height: 50vh;
}
.no-margin{
    margin: 0;
}

.margin-timeline{
    margin-left: var(--line-width);
}

.margin-t-20{
    margin-top: 20px;
}

.margin-b-20{
    margin-bottom: 20px;
}

.quad-box{
    font-size: 55px;
    color: var(--text-secondary);
    background-color: var(--background-highlight);
    border-radius: var(--border-radius);
    margin-top: var(--margin-md);
    height: 6.0vw;
    width: 6.0vw;
    transition: transform 0.3s;
}

.quad-box:hover{
    transform: scale(120%);
}




/*Text*/
.rainbow-heading{
    margin: 0;
    padding: 0;
    font-size: 6.0vw;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff,#8f68ff, #fc72ff );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 7s linear infinite;
    
}

.text-heading-md{
    font-size: 3.5vw;
    color: var(--text-secondary);
}

.default-text{
    color: var(--text-third);
    font-size: 19px;
    font-weight: 700;
}

.text-bold{
    font-weight: bold;
}

.arrow{
    transition: transform 0.3s;
}

.arrow:hover{
    transform: translateY(10px);
}

.social-media-nav{
    /*m-t and m-l for centering in head*/
    margin-top: 4px;
    margin-left: 3px;
    gap: 5px;
}

.social-media-nav a{
    font-size: 1.5vw;
    color: var(--text-secondary);
}
.social-media-nav a:hover{
    color: rgb(96, 102, 166);
}



/*Backgrounds*/
.bg-dark{
    background-color: var(--background);
}

.bg-dark-2{
    background-color: var(--background-darker);
}

/*Images*/
.pb{
    margin-top: var(--margin-md);
    position: relative;
    z-index: 3;
    height: 13.5vw;
    width: 13.5vw;
    border-radius: 50%;
}

.timeline-image{
    height: 350px;
    width: 350px;
    border-radius: var(--border-radius);
}

/*Buttons*/
.btn-rounded{
    margin-top: var(--margin-md);
}

/*--Individual manipulation--*/
.naming p{
    color: var(--text-secondary);
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

.timeline-entry-container{
    padding-bottom: var(--margin-md);
    border-left: var(--line-thickness) solid var(--background);
}
.timeline-entry-divider{
    height: var(--line-thickness);
    width: var(--line-width);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: var(--background);
}
.projects img{
    height: 500px;
    object-fit: contain;
    border-radius: var(--border-radius);
}

.projects-container{
    padding: 10px 15px;
    height: 480px;
    width: 500px;
    background-color: var(--background-highlight);
    border-radius: var(--border-radius);
}

.projects button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: var(--border-radius);
    background-color: var(--text-secondary);
    border: none;
    color: var(--text-main);
    font-size: 30px;
}

.projects button:hover{
    background-color: rgb(96, 102, 166);
    cursor: pointer;
}

.projects span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: var(--text-secondary);
}

.projects h1{
    font-size: 30px;
    color: var(--text-secondary);
}

.projects p{
    color: var(--text-third);
}

.project-card{
    background-color: var(--background-highlight);
    cursor: pointer;
    height: 6.0vw;
    width: 6.0vw;
    object-fit: cover;
    border-radius: var(--border-radius);
    transition: transform 0.3s;
}

.project-card:hover{
    transform: scale(120%);
}



/*--Keyframes--*/
@keyframes animate-gradient {


    0%{
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
    
}



@media (max-width: 480px) {
   .mobile-timeline-image-content{
    display: flex;
    flex-direction: column;
   }

   .static-section{
    position: relative;
    height: auto;
    width: 100%;
}

.dynamic-secion{
    position: relative;
    width: 100%;
}

.dynamic-container{
    width: 98%;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects img{
    margin: 10px;
    padding: 0;
    height: 270px;
    width: 270px;

}

.projects-container{
    margin: 0;
    height: 400px;
    width: 270px;
}

.mobile-timeline-image{
    height: 300px;
    width: 300px;
}

.timeline-entry-container{
    border-left: var(--mobile-line-thickness) solid var(--background);
}
.timeline-entry-divider{
    height: var(--mobile-line-thickness);
    width: var(--mobile-line-width);
}

.margin-timeline{
    margin-left: var(--mobile-line-width);
}

.text-heading-md{
    font-size: 55px;
}

.default-text{
    width: 300px;
}

.mobile-highlight-container{
    text-align: center;
    height: 100vh;
}

.mobile-flex-column{
    flex-direction: column;
}

.naming p{
    font-size: 15px;
}

.social-media-nav a{
    font-size: 25px;
}

.rainbow-heading{
    font-size: 48px;
}
.social-media-nav{
    margin-top: 10px;
}

.pb{
    margin: 10px;
    height: 200px;
    width: 200px;
}

.mobile-flex-wrap{
    flex-wrap: wrap;
}

.quad-box{
    height: 50px;
    width: 50px;
    font-size: 35px;
}
.arrow{
    font-size: 30px;
}

.mobile-lang-card-list{
    margin: 0;
    padding: 0;
}

.project-card{
    height: 45px;
    width: 45px;
}

.margin-b-20{
    margin: 0;
}

.mobile-project-list{
    margin: 0;
}

.mobile-margin-20{
    margin: 20px 0 ;
}

  }

